wcf/April25/April25Client/Connected Services/ServiceReference1/Kalkulator.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/April25" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/April25" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Rezultat">
    <xs:sequence>
      <xs:element minOccurs="0" name="Izraz" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vrednost" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rezultat" nillable="true" type="tns:Rezultat" />
</xs:schema>